<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Create folder</title>
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <form action="/create-folder" method="POST">
      <input
        type="text"
        name="folderName"
        placeholder="Folder name"
        required
      />
      <button type="submit">Create</button>
    </form>
  </body>
</html>
