* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 10px;
}

header {
  display: flex;
  width: 100%;
  font-size: 24px;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0 20px 0;
  border-bottom: 1px solid #000;
}

header > div {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

form {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding: 10px;
}

form input,
form button {
  width: 70%;
  font-size: 18px;
  padding: 1px;
}

form button {
  width: 50%;
}

form > label[for="file-input"] {
  align-self: flex-start;
}

.files {
  margin: 15px;
}

.files li {
  padding: 5px;
}

.files {
  margin: 15px;
}

.files li {
  padding: 5px;
}
